.auction-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #000814, #001d3d);
  color: white;
  padding: 40px;
  font-family: 'Segoe UI', sans-serif;
}

.auction-header {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  font-weight: bold;
  color: #ffd60a;
  margin-bottom: 30px;
}

.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.auction-body {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

/* FILTER PANEL */
.filter-panel {
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 15px;
  width: 250px;
  backdrop-filter: blur(10px);
}

.filter-panel h3 {
  margin-bottom: 15px;
  color: #ffd60a;
}

.filter-panel select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

/* PLAYER SECTION */
.player-section {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.player-image img {
  width: 400px;
  height: 550px;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(255,214,10,0.3);
}

.player-details h1 {
  font-size: 42px;
  color: #ffd60a;
}

.player-meta p {
  margin: 8px 0;
  font-size: 18px;
}

.base-price {
  margin-top: 20px;
  font-size: 20px;
}

.highest-bid {
  font-size: 40px;
  font-weight: bold;
  color: #00ff88;
  margin: 20px 0;
}

.start-btn,
.bid-btn {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.start-btn {
  background: #0077b6;
  color: white;
}

.bid-btn {
  background: #ffd60a;
  color: black;
}

/* MOBILE */
@media (max-width: 768px) {
  .auction-body {
    flex-direction: column;
  }

  .player-image img {
    width: 250px;
    height: 350px;
  }
}
.team-dropdown {
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
  border: none;
  width: 220px;
  font-weight: bold;
}

.decision-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}

.bid-btn {
  background: linear-gradient(45deg, #ffd700, #ffae00);
  color: black;
}

.bid-btn:hover {
  transform: scale(1.05);
}

.sold-btn {
  background: linear-gradient(45deg, #28a745, #1e7e34);
  color: white;
}

.sold-btn:hover {
  transform: scale(1.05);
}

.unsold-btn {
  background: linear-gradient(45deg, #dc3545, #a71d2a);
  color: white;
}

.unsold-btn:hover {
  transform: scale(1.05);
}

.next-btn {
  margin: 25px;
  background: linear-gradient(45deg, #ff0055, #cc0044);
  color: white;
}

.next-btn:hover {
  transform: scale(1.05);
}

.highest-bid-display {
  font-size: 28px;
  font-weight: bold;
  color: #00ff88;
  margin: 15px 0;
}

.auction-finished {
  font-size: 30px;
  color: gold;
  text-align: center;
  margin-top: 200px;
}
