body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: crimson;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #222;
  padding: 15px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background: crimson;
  color: white;
  border: none;
  cursor: pointer;
}
input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
}
